<main>
  <h1>PRODUCTOS</h1>
  <h2 id="welcome">BIENVENIDO</h2>
  <h3>Nombre: {{name}} Correo: {{email}} Rol: {{role}}</h3>
  <div id="prod_container">

  </div>
  <button id="logout">CERRAR SESIÓN</button>
  <button id="toCart">IR AL CARRITO</button>
</main>

<script src="/js/products.js"></script>